<%= form_for(@beam) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/error_messages' %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Name</strong>
        </div>
        <table class="table">
          <tbody>
            <tr><td><%= f.text_field :name, class: 'form-control' %></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Dimensions</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :length, text: nil,
              constant: Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :width, text: nil, constant:
              Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :height, text: nil,
              constant: Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Boundary Conditions</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :load, text: nil, constant:
              Beam::FORCE_UNITS, style: "default" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Mesh Properties</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :meshsize, text:
              "Global Mesh Size", constant: Beam::DIMENSIONAL_UNITS, style:
              "default" %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Material Properties</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Material Name</td>
              <td><%= f.text_field :material, class: 'form-control' %></td>
              <td></td>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :modulus, text:
              "Elastic Modulus", constant: Beam::STRESS_UNITS, style:
              "default" %>
            </tr>
            <tr>
              <td>Poisson's Ratio</td>
              <td><%= f.text_field :poisson, class: 'form-control' %></td>
              <td></td>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :density, text: nil,
              constant: Beam::DENSITY_UNITS, style: "density" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Units</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Result Unit System:</td>
              <td>
<!--                 <div class="styled-select-system blue semi-square"> -->
                  <%= f.select :result_unit_system,
                  Beam::RESULT_UNITS.map { |k,v| [v[:text], k.to_s] }, {},
                  { class: "form-control blue-select" } %>
<!--                 </div> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit yield(:button_text), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
