<%= form_for(@beam) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/error_messages' %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Name</strong>
        </div>
        <table class="table">
          <tbody>
            <tr><td><%= f.text_field :name, class: 'form-control' %></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Dimensions</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :length, text: nil,
              constant: Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :width, text: nil, constant:
              Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :height, text: nil,
              constant: Beam::DIMENSIONAL_UNITS, style: "default" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Simulation Parameters</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :load, text: nil, constant:
              Beam::FORCE_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :meshsize, text:
              "Global Mesh Size", constant: Beam::DIMENSIONAL_UNITS, style:
              "default" %>
            </tr>
            <tr>
              <td>Number of Cores</td>
              <td>
                <%= f.select :cores,
                (1..16).map { |i| [i.to_s, i] }, {},
                { class: "form-control blue-select" } %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Material Properties</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Material Name</td>
              <td><%= f.text_field :material, class: 'form-control' %></td>
              <td></td>
            </tr>
            <div id="modulus">
            <tr>
              <%= render 'field', form: f, object: :modulus, text:
              "Elastic Modulus", constant: Beam::STRESS_UNITS, style:
              "default" %>
            </tr>
            </div>
            <tr>
              <td>Poisson's Ratio</td>
              <td><%= f.text_field :poisson, class: 'form-control' %></td>
              <td></td>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :density, text: nil,
              constant: Beam::DENSITY_UNITS, style: "density" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Post Processing</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <!-- <td>Result Unit System</td> -->
              <td>
                <div id="sys"><%= @beam.result_unit_system %></div>
              </td>
              <td>
                <%= f.select :result_unit_system,
                Beam::RESULT_UNITS.map { |k,v| [v[:text], k.to_s] }, {},
                { class: "form-control blue-select" } %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit yield(:button_text), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
<script>
  $(document).ready(function() {
    $('#beam_result_unit_system').change(function() {
        $.ajax({
           url: "<%= submit_units_path %>",
           data: {
               unit_name: $("#beam_result_unit_system option:selected").text()
           },
           dataType: "script"
        });
    });
  });
</script>
