<%= form_for(@beam) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'shared/error_messages' %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Name</strong>
        </div>
        <table class="table">
          <tbody>
            <tr><td><%= f.text_field :name, class: 'form-control' %></td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Dimensions</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :length, text: nil,
                constant: DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :width, text: nil, constant:
                DIMENSIONAL_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :height, text: nil,
                constant: DIMENSIONAL_UNITS, style: "default" %>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Simulation Parameters</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <%= render 'field', form: f, object: :load, text: nil, constant:
                FORCE_UNITS, style: "default" %>
            </tr>
            <tr>
              <%= render 'field', form: f, object: :meshsize, text:
                "Global Mesh Size", constant: DIMENSIONAL_UNITS, style:
                "default" %>
            </tr>
            <tr>
              <td>Number of Cores</td>
              <td>
                <%= f.select :cores,
                  (1..16).map { |i| [i.to_s, i] }, {},
                  { class: "form-control blue-select" } %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Material Properties</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Material</td>
              <td>
                <%= f.collection_select :material_id, Material.all,
                  :id, :name, {}, { class: "form-control blue-select" } %>
              </td>
            </tr>
            <tr>
            <tr>
              <th>Elastic Modulus (<%= unit_text(@beam.material, :modulus) %>)</th>
              <th>Poisson's Ratio</th>
              <th>Density (<%= unit_text(@beam.material, :density) %>)</th>
            </tr>
            <tr><%= render 'material' %></tr>
          </tbody>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Post Processing</strong>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Result Unit System</td>
              <td>
                <%= f.select :result_unit_system,
                  RESULT_UNITS.map { |k,v| [v[:text], k.to_s] }, {},
                  { class: "form-control blue-select" } %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit yield(:button_text), class: "btn btn-success" %>
    </div>
  </div>
<% end %>
