<% provide(:title, "Beams") %>
<h1>
  Beam list
  <%= button(nil, :refresh, size: 'btn-lg') %>
</h1>
<%= paginate @beams %>
<p><%= page_entries_info @beams, entry_name: 'beam' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Results</th>
      <th>Solver</th>
      <th>Dimensions (L*W*H)</th>
      <th>Mesh Size</th>
      <th></th>
    </tr>
  </thead>
  <% @beams.each do |beam| %>
    <tr>
      <td><%= beam.id %></td>
      <td><%= link_to beam.name, beam, name: beam.prefix %></td>
      <td><%= status_label(beam.job) %></td>
      <td>
        <% if beam.completed? %>
          <div class="btn-group">
            <%= button(beam, :results, text: false, size: 'btn-xs') %>
          </div>
        <% elsif beam.failed? %>
          <div class="btn-group">
            <%= button(beam, :stdout,  text: false, size: 'btn-xs') %>
          </div>
        <% end %>
      </td>
      <td><%= SOLVERS[beam.job.config.to_sym] %></td>
      <td><%= number_with_units(beam, :length) %> *
          <%= number_with_units(beam, :width) %> *
          <%= number_with_units(beam, :height) %></td>
      <td><%= number_with_units(beam, :meshsize) %></td>
      <td><%= button_group(beam) %></td>
    </tr>
  <% end %>
</table>
