<% provide(:title, "Beams") %>
<h3>Beam list</h3>

<%= will_paginate %>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Material</th>
      <th>Load (N)</th>
      <th>Mesh Size (mm)</th>
      <th></th>
    </tr>
  </thead>
  <% @beams.each do |beam| %>
    <tr>
      <td><%= beam.id %></td>
      <td><%= link_to beam.name, beam %></td>
      <td><%= status_label(beam) %></td>
      <td><%= beam.material %></td>
      <td><%= beam.load %></td>
      <td><%= beam.meshsize * 1000 %></td>
      <td>
        <div class="btn-group">
          <%= button(beam, :submit, text: false, size: 'btn-xs') if beam.ready? %>
          <%= button(beam, :edit,   text: false, size: 'btn-xs') %>
          <%= button(beam, :copy,   text: false, size: 'btn-xs') %>
          <%= button(beam, :delete, text: false, size: 'btn-xs') %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate %>
