<% provide(:title, "Beams") %>
<h1>Beam list</h1>

<%= paginate @beams %>
<p><%= page_entries_info @beams, entry_name: 'beam' %></p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Results</th>
      <th>Material</th>
      <th>Load</th>
      <th>Mesh Size</th>
      <th></th>
    </tr>
  </thead>
  <% @beams.each do |beam| %>
    <tr>
      <td><%= beam.id %></td>
      <td><%= link_to beam.name, beam, name: beam.prefix %></td>
      <td><%= status_label(beam) %></td>
      <td>
        <% if beam.completed? %>
          <div class="btn-group">
           <%= button(beam, :results, text: false, size: 'btn-xs') %>
          </div>
        <% end %>
      </td>
      <td><%= beam.material %></td>
      <td><%= number_with_units(beam, :load) %></td>
      <td><%= number_with_units(beam, :meshsize) %></td>
      <td>
        <div class="btn-group">
          <% if beam.ready? %>
            <%= button(beam, :submit, text: false, size: 'btn-xs') %>
          <% elsif beam.active? || beam.running? %>
            <%= button(beam, :clean,  text: false, size: 'btn-xs disabled') %>
          <% else %>
            <%= button(beam, :clean,  text: false, size: 'btn-xs') %>
          <% end %>
          <%= button(beam, :edit,   text: false, size: 'btn-xs') %>
          <%= button(beam, :copy,   text: false, size: 'btn-xs') %>
          <%= button(beam, :delete, text: false, size: 'btn-xs') %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
