<% provide(:title, "Results") %>
<h3><%= @beam.name %> Results</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Input Dimensions, Loads, and Parameters</strong>
      </div>
      <table class="table">
        <tbody>
          <tr><td>Length</td><td><%= @beam.length * 1000 %> mm</td></tr>
          <tr><td>Width</td><td><%= @beam.width * 1000 %> mm</td></tr>
          <tr><td>Height</td><td><%= @beam.height * 1000 %> mm</td></tr>
          <tr><td>Material</td><td><%= @beam.material %></td></tr>
          <tr><td>&nbsp;&nbsp;- Modulus of Elasticity</td><td><%= @beam.modulus / 1000000 %> MPa</td></tr>
          <tr><td>&nbsp;&nbsp;- Poisson's Ratio</td><td><%= @beam.poisson %></td></tr>
          <tr><td>&nbsp;&nbsp;- Density</td><td><%= @beam.density / 1000 %> g/mm<sup>3</sup></td></tr>
          <tr><td>End Load</td><td><%= @beam.load %> N</td></tr>
          <tr><td>Hexogonal Mesh Size</td><td><%= @beam.meshsize * 1000 %> mm</td></tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Calculated Results</strong>
      </div>
      <table class="table">
        <tbody>
          <tr><td>Bending Moment of Inertia</td><td><%= "%.3E" % @beam.inertia %> mm<sup>4</sup></td></tr>
          <tr><td>Mass</td><td><%= "%.1f" % @beam.mass %> kg</tr>
          <tr><td>Reactive Force</td><td><%= "%.0f" % @beam.r_total %> N</tr>
          <tr><td>Reactive Moment</td><td><%= "%.0f" % @beam.m_total %> N-m</tr>
          <tr><td>Maximum Angle</td><td><%= "%.3f" % @beam.theta %>&#176;</tr>
          <tr><td>Maximum Displacement</td><td><%= "%.3f" % @beam.d %> mm</tr>
          <tr><td>Maximum Principal Stress</td><td><%= "%.3f" % @beam.sigma_max %> MPa</tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Finite Element Analysis Summary</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Analytical Result</th>
            <th>Book Prediction</th>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&delta;<sub>y</sub></td>
            <td><%= "%.3f" % @beam.d_fem %> mm</td>
            <td><%= "%.3f" % @beam.d %> mm</td>
            <td>
              <% if @beam.d_error.abs <= 5 %>
                <%= content_tag(:font, "%.2f" % @beam.d_error, color: "green") %>
              <% elsif @beam.d_error.abs <= 10 %>
                <%= content_tag(:font, "%.2f" % @beam.d_error, color: "orange") %>
              <% else %>
                <%= content_tag(:font, "%.2f" % @beam.d_error, color: "red") %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>&sigma;<sub>33</sub></td>
            <td><%= "%.3f" % @beam.sigma_fem %> MPa</td>
            <td><%= "%.3f" % @beam.sigma_max %> MPa</td>
            <td>
              <% if @beam.sigma_error.abs <= 5 %>
                <%= content_tag(:font, "%.2f" % @beam.sigma_error, color: "green") %>
              <% elsif @beam.sigma_error.abs <= 10 %>
                <%= content_tag(:font, "%.2f" % @beam.sigma_error, color: "orange") %>
              <% else %>
                <%= content_tag(:font, "%.2f" % @beam.sigma_error, color: "red") %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
