<% provide(:title, "Results") %>
<h3><%= @beam.name %> Results</h3>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Input Dimensions, Loads, and Parameters</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Length</td>
            <td><%= number_with_units(@beam,
                                      :length) %></td>
          </tr>
          <tr>
            <td>Width</td>
            <td><%= number_with_units(@beam,
                                      :width) %></td>
          </tr>
          <tr>
            <td>Height</td>
            <td><%= number_with_units(@beam,
                                      :height) %></td>
          </tr>
          <tr>
            <td>Material</td>
            <td><%= @beam.material %></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&bull; Modulus of Elasticity</td>
            <td><%= number_with_units(@beam,
                                      :modulus) %></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&bull; Poisson's Ratio</td>
            <td><%= @beam.poisson %></td>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&bull; Density</td>
            <td><%= number_with_units(@beam,
                                      :density) %></td>
          </tr>
          <tr>
            <td>End Load</td>
            <td><%= number_with_units(@beam,
                                      :load) %></td>
          </tr>
          <tr>
            <td>Hexogonal Mesh Size</td>
            <td><%= number_with_units(@beam,
                                      :meshsize) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Calculated Results from Beam Theory</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Bending Moment of Inertia</td>
            <td><%= number_with_units(@beam,
                                      :inertia,
                                      is_result: true) %></td>
          </tr>
          <tr>
            <td>Mass</td>
            <td><%= number_with_units(@beam,
                                      :mass,
                                      is_result: true) %></td>
          </tr>
          <tr>
            <td>Reactive Force</td>
            <td><%= number_with_units(@beam,
                                      :force_reaction,
                                      is_result: true) %></td>
          </tr>
          <tr>
            <td>Reactive Moment</td>
            <td><%= number_with_units(@beam,
                                      :moment_reaction,
                                      is_result: true) %></td>
          </tr>
          <tr>
            <td>Maximum Angle</td>
            <td><%= number_with_precision(@beam.theta,
                                          precision: 3,
                                          significant: true) %>&#176;</tr>
          <tr>
            <td>Maximum Displacement</td>
            <td><%= number_with_units(@beam,
                                      :displacement,
                                      is_result: true) %></td>
          </tr>
          <tr>
            <td>Maximum Principal Stress</td>
            <td><%= number_with_units(@beam,
                                      :stress,
                                      is_result: true) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Finite Element Analysis Summary</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Analytical Result</th>
            <th>Beam Theory</th>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&delta;<sub>y</sub></td>
            <td>
              <% if @beam.displacement_results_ok? &&
                !@beam.displacement_fem.nil?%>
                <%= "-" + number_with_units(@beam,
                                            :displacement_fem,
                                            is_result: true) %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
            <td><%= number_with_units(@beam,
                                      :displacement,
                                      is_result: true) %></td>
            <td>
              <% if @beam.displacement_results_ok? &&
                !@beam.displacement_error.nil? %>
                <% if @beam.displacement_error.abs <= 5 %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.displacement_error,
                                  color: "green") %>
                <% elsif @beam.displacement_error.abs <= 10 %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.displacement_error,
                                  color: "orange") %>
                <% else %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.displacement_error,
                                  color: "red") %>
                <% end %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>&sigma;<sub>33</sub></td>
            <td>
              <% if @beam.stress_results_ok? && !@beam.stress_fem.nil?%>
                <%= number_with_units(@beam,
                                      :stress_fem,
                                      is_result: true) %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
            <td><%= number_with_units(@beam,
                                      :stress,
                                      is_result: true) %></td>
            <td>
              <% if @beam.stress_results_ok? && !@beam.stress_error.nil? %>
                <% if @beam.stress_error.abs <= 5 %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.stress_error,
                                  color: "green") %>
                <% elsif @beam.error[:s_error].abs <= 10 %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.error[:s_error],
                                  color: "orange") %>
                <% else %>
                  <%= content_tag(:font,
                                  "%.2f%" % @beam.error[:s_error],
                                  color: "red") %>
                <% end %>
              <% else %>
                <%= "N/A" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="webgl">
      <iframe class="webgl-viewer" type="text/html"
              width="555px" height="350px" frameborder="0"
              src=<%= "embed?result=#{@result}" %>>
      </iframe>
    </div>
    <div class="text-center">
    <div class="btn-group">
      <%= link_to "<span class='glyphicon glyphicon-eye-open'></span> "\
          "&sigma;<sub>zz</sub>".html_safe,
        results_beam_path(@beam, result: "stress"),
        class: "btn btn-primary",
        data: { toggle: 'tooltip', placement: 'top' },
        title: 'View Stress' %>
      <%= link_to "<span class='glyphicon glyphicon-eye-open'></span> "\
          "&delta;<sub>y</sub>".html_safe,
        results_beam_path(@beam, result: "displ"),
        class: "btn btn-primary",
        data: { toggle: 'tooltip', placement: 'top' },
        title: 'View Displacement' %>
    </div>
    </div>
  </div>
</div>
<div class="btn-group">
  <% if @beam.ready? %>
    <%= button(@beam, :submit) %>
  <% else %>
    <%= button(@beam, :clean) %>
  <% end %>
  <%= button(@beam, :edit) %>
  <%= button(@beam, :copy) %>
  <%= button(@beam, :delete) %>
</div>
