<% provide(:title, @beam.name) %>
<h1><%= status_label(@beam, text: @beam.name) %></h1>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Dimensions</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Length:</td>
            <td><%= number_with_units(@beam, :length) %></td>
          </tr>
          <tr>
            <td>Width:</td>
            <td><%= number_with_units(@beam, :width) %></td>
          </tr>
          <tr>
            <td>Height:</td>
            <td><%= number_with_units(@beam, :height) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Post Processing</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Unit System:</td>
            <td><%= Beam::RESULT_UNITS[@beam.result_unit_system.to_sym][:text] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Simulation Parameters</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Load (<%= @beam.unit_text(:load) %>)</th>
            <th>Global Mesh Size (<%= @beam.unit_text(:meshsize) %>)</th>
            <th>Number of Cores</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @beam.load %></td>
            <td><%= @beam.meshsize %></td>
            <td><%= @beam.cores %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Material Properties</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Elastic Modulus (<%= @beam.unit_text(:modulus) %>)</th>
            <th>Poisson's Ratio</th>
            <th>Density (<%= @beam.unit_text(:density) %>)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @beam.material %></td>
            <td><%= @beam.modulus %></td>
            <td><%= @beam.poisson %></td>
            <td><%= @beam.density %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if @beam.completed? %>
  <%= button(@beam, :results, text: true, size: 'btn-md') %>
<% elsif @beam.active? || @beam.running? %>
  <%= button(@beam, :refresh, text: true, size: 'btn-md') %>
<% end %>
<%= button_group(@beam, text: true, size: 'btn-md') %>
