<% provide(:title, @beam.name) %>
<h1><%= status_label(@beam.job, text: @beam.name) %></h1>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Dimensions</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Length:</td>
            <td><%= number_with_units(@beam, :length) %></td>
          </tr>
          <tr>
            <td>Width:</td>
            <td><%= number_with_units(@beam, :width) %></td>
          </tr>
          <tr>
            <td>Height:</td>
            <td><%= number_with_units(@beam, :height) %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Post Processing</strong>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>Unit System:</td>
            <td><%= RESULT_UNITS[@beam.result_unit_system.to_sym][:text] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Simulation Parameters</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Solver</th>
            <th>Load (<%= unit_text(@beam, :load) %>)</th>
            <th>Mesh Size (<%= unit_text(@beam, :meshsize) %>)</th>
            <th>Nodes</th>
            <th>CPUs/Node</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @beam.job.config.capitalize %></td>
            <td><%= @beam.load %></td>
            <td><%= @beam.meshsize %></td>
            <td><%= @beam.job.machines %></td>
            <td><%= @beam.job.cores %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Material Properties</strong>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Elastic Modulus (<%= unit_text(@beam.material, :modulus) %>)</th>
            <th>Poisson's Ratio</th>
            <th>Density (<%= unit_text(@beam.material, :density) %>)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @beam.material.name %></td>
            <td><%= @beam.material.modulus %></td>
            <td><%= @beam.material.poisson %></td>
            <td><%= @beam.material.density %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% if @beam.completed? %>
  <%= button(@beam, :results, text: true, size: 'btn-md') %>
<% elsif @beam.active? || @beam.running? %>
  <%= button(@beam, :refresh, text: true, size: 'btn-md') %>
<% end %>
<%= button_group(@beam, text: true, size: 'btn-md') %>
